<head>
  <title>Garner Sign Up</title>
  <link rel="stylesheet" type="text/css" href="signup.css">
</head>

<body>
  <body>
  <header class="container">
    <div class="row">
      <h1 class="col-sm-4">
        Garner
      </h1>
      <nav class="col-sm-8 text-right">
        <a class="btn btn-primary" href="#" role="button"><p>Sign Up</p></a>
        <a class="btn btn-primary" href="#" role="button"><p>Login</p></a>
      </nav>
    </div>
  </header>

<div class="signup">
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
</div>
<% end %>

<!-- <%= render "devise/shared/links" %>

</body>