<%= form_for(@vent) do |f| %>
  <% if @vent.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vent.errors.count, "error") %> prohibited this vent from being saved:</h2>

      <ul>
      <% @vent.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :user %><br>
    <%= f.text_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :vent_text %><br>
    <%= f.text_area :vent_text %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
