<p id="notice"><%= notice %></p>

<h1>Listing Vents</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>User</th>
      <th>Vent text</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vents.each do |vent| %>
      <tr>
        <td><%= vent.title %></td>
        <td><%= vent.user %></td>
        <td><%= vent.vent_text %></td>
        <td><%= link_to 'Show', vent %></td>
        <td><%= link_to 'Edit', edit_vent_path(vent) %></td>
        <td><%= link_to 'Destroy', vent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vent', new_vent_path %>
