<!--Garner Login-->
  
<link rel="stylesheet" type="text/css" href="login.css">

<div class="jumbotron">
  <div class="col-sm-8">
    <div class="description">
      <p>   Welcome to Garner!</p>

      <p>   Garner offers a safe space for users to share their life experiences while garnering support for the issues that matter. Operating as a revolutionary type of social media, users are not only committed to sharing but also to taking action.</p>

      <p>   After signing up, you will be able to browse our Vents page to see what issues people are discussing. You can jump in on an ongoing discussion that interests you, or create a new one yourself! We encourage you to share your experiences about issues you see in your world, and connect with those who share similar stories.</p>

      <p>   Every Vent post has a certain number of Tallies; support given by users who have viewed the discussion and wish to promote its popularity. Once a thread garners 100 tallies, its author has the option to create an Action page for the topic at hand in the form of a petition. Other users are welcome to view these petitions, and add their signature as support.</p>
</div>
  </div>
  <div class="col-sm-4">
    <div class="login">
      <h2>Log in</h2>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true %>
      </div>
    
      <div class="field">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    
      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>
    
      <div class="actions">
        <%= f.submit "Log in" %>
            <%= render "devise/shared/links" %>
      </div>
    <% end %>
        
     </div>
</div> 

  </div>
 <section class="intro section-padding">
        <div class="container">
    <div class="row">
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe033;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Easily Customised</h5>
                        <p class="may">Easily customise Sedna to suit your start up, portfolio or product. Take advantage of the layered Sketch file and bring your product to life.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe030;" class="icon"></span>
                    </div>
                    <div class="intro-content">
                        <h5>Modern Design</h5>
                        <p class="may">Designed with modern trends and techniques in mind, Sedna will help your product stand out in an already saturated market.</p>
                    </div>
                </div>
                <div class="col-md-4 intro-feature">
                    <div class="intro-icon">
                        <span data-icon="&#xe046;" class="icon"></span>
                    </div>
                    <div class="intro-content last">
                        <h5>Responsive Development</h5>
                        <p class="may">Built using the latest web technologies like html5, css3, and jQuery, rest assured Sedna will look smashing on every device under the sun.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>  
    

 